<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flugbuech</title>
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/flugbuech.css">
        <link rel="stylesheet" href="/static/css/maplibre-gl.css">
        <script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>
        <script src="/static/js/common.js"></script>
        <script src="/static/js/navbar.js"></script>
        <script src="/static/js/elements.flagmeister.min.js"></script>

        {% set plausible = plausible_config() %}
        {% if plausible %}
        <!-- self-hosted, GDPR compliant, non-privacy-invading visitor stats -->
        <script defer data-domain="{{ plausible.domain }}" src="{{ plausible.url | safe }}"></script>
        {% endif %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <span class="icon is-small fas fa-parachute-box"></span>
                </div>

                <a role="button" id="burger-menu-button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-contents">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar-contents" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                    {% if user %}
                    <a class="navbar-item" href="/gliders/">My Gliders</a>
                    <a class="navbar-item" href="/locations/">My Locations</a>
                    <a class="navbar-item" href="/flights/">My Flights</a>
                    <a class="navbar-item" href="/stats/">Stats</a>
                    <a class="navbar-item" href="/flights/add/">Submit flight</a>
                    {% endif %}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user %}
                            <a class="button" href="/profile/">Profile</a>
                            <a class="button" href="/auth/logout/">Logout</a>
                            {% else %}
                            <a class="button is-light" href="/auth/login/">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <section class="hero is-medium main-header">
            <header class="hero-body">
                <div class="container">
                    <h1 class="title">Flugbuech</h1>
                    {% if user %}
                    <p class="subtitle">Welcome, {{ user.username }}!</p>
                    {% else %}
                    <p class="subtitle">Welcome, Guest!</p>
                    {% endif %}
                </div>
            </header>
        </section>

        <!-- Content -->
        <div class="section {% block sectionclass %}{% endblock %}">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer class="section">
            <div class="container">
                &copy; 2019&ndash;2021 Danilo Bargen | <a href="https://github.com/dbrgn/flugbuech">Source Code</a> | <a href="https://github.com/dbrgn/flugbuech/issues">Bug reports and feature requests</a> | <a href="mailto:flugbuech@bargen.dev">Contact</a>
            </div>
        </footer>

        {% block postfooter %}{% endblock %}
    </body>
</html>
