on:
  workflow_call:
  pull_request:
  schedule:
    - cron: '30 3 * * 2'

name: Frontend

env:
  NODE_VERSION: '20'

jobs:
  build:
    name: Build and check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - run: cd frontend && npm run build
      - run: cd frontend && npm run check

  eslint:
    name: Run eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - run: cd frontend && npm run lint:eslint

  prettier:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - run: cd frontend && npm run lint:prettier

  i18n_translations_in_sync:
    name: Check i18n translations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - run: cd frontend && npm run i18n:parse
      - name: Ensure that there are no local changes
        run: |
          DIFF="$(git diff frontend/src/translations/)"
          if [[ -n "$DIFF" ]]; then
            echo -e "\e[31mFound local changes after running 'npm run i18n:parse'. Translations out of sync?\e[0m"
            echo -e "\n$ git diff:\n$DIFF"
            exit 1
          else
            echo -e "\e[32mNo changes detected after running 'npm run i18n:parse'\e[0m"
          fi

  test_unit:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - run: cd frontend && npm run test:unit

  test_integration:
    name: Run integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install npm dependencies
        run: cd frontend && npm ci
      - name: Install Playwright browsers
        run: cd frontend && npx playwright install --with-deps
      - name: Run integration tests
        run: cd frontend && npm run test:integration
