on:
  push:
    branches: [main]

name: Publish

jobs:
  test_backend:
    uses: ./.github/workflows/backend.yml
  test_frontend:
    uses: ./.github/workflows/frontend.yml
  docker_image:
    name: Build Docker image
    needs: [test_backend, test_frontend]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build Docker image
        run: |
          docker build \
            --no-cache \
            -t dbrgn/flugbuech:latest \
            -t dbrgn/flugbuech:main \
            .
      - name: Push Docker image
        run: |
          docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}" && \
          docker push dbrgn/flugbuech:main && \
          docker push dbrgn/flugbuech:latest
